---
import '@fontsource-variable/noto-nastaliq-urdu';
import Layout from '../layouts/Layout.astro';
const veggieTitle = 'سبزی';
const dalTitle = 'دال';
const chickenTitle = 'مرغی';
const titleMap = { veggie: veggieTitle, dal: dalTitle, chicken: chickenTitle };
const classMap: Record<string, string> = { [veggieTitle]: 'veggie', [dalTitle]: 'dal', [chickenTitle]: 'chicken' };
const menuList = [
	['چنے والے چاول'], // Mon
	[titleMap.chicken], // Tue
	['کڑھی'], // Wed
	['پاستا'], // Thu
	[titleMap.veggie], // Fri
	[titleMap.chicken], // Sat
	[titleMap.dal], // Sun
	['آلو انڈے', 'آلو کے پراٹھے'], // Mon
	[titleMap.chicken], // Tue
	['لال لوبیا'], // Wed
	['فرائڈ رائس'], // Thu
	[titleMap.veggie], // Fri
	[titleMap.chicken], // Sat
	[titleMap.dal], // Sun
];
const dayNumbers = ['۱', '۲', '۳', '۴', '۵', '۶', '۷', '۸', '۹', '۱۰', '۱۱', '۱۲', '۱۳', '۱۴'];
const dayNames = ['سوموار', 'منگل', 'بدھ', 'جمعرات', 'جمعہ', 'ہفتہ', 'اتوار'];
const veggies = ['مٹر والے چاول', 'پالک', 'مکس سبزی', 'کریلے', 'پھول گوبھی', 'بھنڈی', 'شلجم', 'کدو'];
const dals = ['دال چنا', 'سفید لوبیا', 'دال ماش', 'حلیم', 'دال چنا چاول'];
const chickens = ['بریانی', 'قورمہ', 'اچار گوشت', 'قیمہ'];
const details: { name: keyof typeof titleMap; items: string[] }[] = [
	{ name: 'veggie', items: veggies },
	{ name: 'dal', items: dals },
	{ name: 'chicken', items: chickens },
]
---

<Layout title="Menu">
	<main>
		<div class="day-grid">
			{menuList.map((r, idx) => (
				<div id={`day-${idx}`} class="day-item">
					<div class="day-no">{dayNumbers[idx]}</div>
					<div class="day-name">{dayNames[idx % 7]}</div>
					<div class="day-menu">
						{r.map((item) => <div class={classMap[item]}>{item}</div>)}
					</div>
				</div>
			))}
		</div>
		<div class="detail-grid">
			{details.map(r => (
				<div class={`detail-item light ${r.name}`}>
					<div class={`detail-title ${r.name}`}>{titleMap[r.name]}</div>
					{r.items.map(item => <div class={r.name}>{item}</div>)}
				</div>
			))}
		</div>
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		max-width: 1000px;
		margin-inline: auto;
		padding: 15px;
		gap: 15px;
		font-family: "Noto Nastaliq Urdu Variable", system-ui, sans-serif;
	}
	div {
		border-radius: 10px;
		padding-inline: 10px;
		background-color: var(--bg);
		color: var(--fg);
		border: 2px solid var(--border-color);
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.day-grid {
		display: flex;
		flex-direction: column;
		padding: 0;
		gap: 10px;
		border: none;
	}
	.day-item {
		display: grid;
		grid-template-columns: 1fr 2fr 10fr;
		padding: 0;
		gap: 10px;
		direction: rtl;
		border: 0;
	}
	.day-no {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--day-bg);
		color: var(--day-color);
		height: 50px;
	}
	.day-name {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50px;
	}

	.active > :is(.day-name, .day-no) {
		background-color: var(--day-bg);
		color: var(--day-color);
	}

	.day-menu {
		display: flex;
		flex-wrap: nowrap;
		padding: 0;
		border: 0;
		height: 50px;
	}
	.day-menu > div {
		border-radius: 0;
		flex: 1;
		display: flex;
		align-items: center;
		height: 50px;
	}
	.day-menu > :not(.veggie, .chicken, .dal) {
		background-color: var(--info-bg);
	}
	.day-menu > :first-child {
		border-start-start-radius: 10px;
		border-end-start-radius: 10px;
	}
	.day-menu > :last-child {
		border-end-end-radius: 10px;
		border-start-end-radius: 10px;
	}
	.day-menu > :not(:first-child) {
		border-inline-start: none;
	}
	.detail-grid {
		display: flex;
		flex-wrap: nowrap;
		border: none;
		gap: 15px;
		direction: rtl;
	}
	.detail-item {
		flex: 1;
		display: grid;
		padding: 10px;
		gap: 10px;
		margin-top: 35px;
		padding-top: 35px;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: max-content;
		position: relative;
	}
	.detail-title {
		position: absolute;
		height: 50px;
		width: 150px;
		display: flex;
		justify-content: center;
		align-items: center;
		top: -25px;
		left: calc(50% - 75px);
	}
	.detail-item > div {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50px;
	}
	.veggie {
		background-color: var(--warning-bg);
		color: var(--warning-color);
		border-color: currentColor;
	}
	.veggie.light {
		background-color: var(--warning-light-bg);
	}
	.dal {
		background-color: var(--success-bg);
		color: var(--success-color);
		border-color: currentColor;
	}
	.dal.light {
		background-color: var(--success-light-bg);
	}
	.chicken {
		background-color: var(--error-bg);
		color: var(--error-color);
		border-color: currentColor;
	}
	.chicken.light {
		background-color: var(--error-light-bg);
	}
	@media (max-width: 768px) {
		.detail-grid {
			flex-direction: column;
		}
	}
</style>

<script>
	const start = new Date('2024-08-26');
	const milliSecondsInDay = 1000 * 60 * 60 * 24;
	const startDays = Math.floor(start.getTime() / milliSecondsInDay);
	const today = new Date();
	const todayDays = Math.floor(today.getTime() / milliSecondsInDay);
	const daysSince = todayDays - startDays;
	const currIdx = daysSince % 7;
	const item = document.getElementById(`day-${currIdx}`);
	item?.classList.add('active');
</script>
